
// DEFAULT BODY COLORS

$body-bg:		#383838;
$body-color:	#333333;
$body-accent-color: #FF952B;

$primary:	$body-color;
$white:	#fff;

// BACKGROUND COLORS
$bg-primary-color: $white;
$bg-secondary-color: #C63F01;

// STYLE ANCHOR ELEMENTS
$link-color: $bg-secondary-color;
$link-hover-color: darken($link-color, 15%);

// FONTS

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-secondary: 'Nothing You Could Do', cursive;

$font-weight-light:		300;
$font-weight-normal:  	400;
$font-weight-semi:		500;
$font-weight-semibold:	700;	
$font-weight-bold:      800;

$h1-font-size:			3rem;
$h2-font-size:			2.3rem;
$h3-font-size:			1.8rem;
$h4-font-size: 			1.125em;

$screen-xs:	0;
$screen-sm:	576px;
$screen-md: 768px;
$screen-lg:	992px;
$screen-xl: 1200px;


// CONTAINERS

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);